#container{
    border: 2px solid black;
    width: 400px;
    height: 400px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
}

body{
     align-content: center;
     align-items: center;
     display: flex;
     justify-content: center;
     background-color:cadetblue;
}

button{
    background-color: green;
    color: white;
    width: 70px;
    height: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10%;
}
div{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

